<div class="jumbotron">
    <h1>My First Rails  App</h1>
    <p>This is my first rails app. Hooray</p>   
    <%= link_to "About", home_about_path, class: 'btn btn-default' %>
    <%= link_to "Home", root_path, class: 'btn btn-primary' %>
</div>

